@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

:root {
    --sec-color: azure;
    --back-sect: #bfdbfe;
}
body{
    background: rgb(234, 234, 228);
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    font-family: 'Roboto';
    margin: 10px;
    
}

/* Section */

section {
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    background: var(--back-sect);
}

.logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 60px;
    height: 100px; 
}

.logo h1 {
    font-size: 35px;
}

.home-etc, .setting-etc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.items:hover{
    color: var(--sec-color);
}

.items > svg {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

/* Nav */

.nav-menu{
    grid-column: 2/4;
    grid-row: 1/2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

/* Nav - Search bar - Profile */

nav svg {
    width: 30px;
    height: 35px;
    padding: 0 20px;
}

.search {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    margin-top: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 0 20px;
}

.profile-img {
    display: flex;
    width: 45px;
    height: 45px;
    background: brown;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 600;
}

.profile h2 {
    padding: 0 20px;
}

#search-input {
    width: 700px;
    height: 35px;
    border-radius: 22px;
    border: none;
    background: rgb(242, 239, 215);
}

/* Nav - General profile - Buttons */

menu {
    display: flex;
    justify-content: space-between;
}

.general-profile {
    display: flex;
    justify-content: space-evenly;
}

.profile-img.main {
    width: 70px;
    height: 70px;
    font-size: 35px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name>h1{
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.name>p{
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.buttons {
    margin-right: 20px;
}

.buttons button {
    background: var(--back-sect);
    border-radius: 20px;
    height: 40px;
    width: 110px;
    border: transparent;
    font-weight: 700;
    font-size: 16px;
}

button:active{
    background: blue;
    color: azure;
}

/* Main and projects */

main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    height: 100vh;
}

main>h1 {
    padding-left: 20px;
    font-size: 28px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin: 10px;
}

.cards>div{
    background: white;
    border-radius: 8px;
    border-left: 7px solid rgb(200, 200, 3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.card-icons svg {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Aside - Announcements */

aside {
    grid-column: 3/4;
    grid-row: 2 / 4;
}

.anno-box {
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.anno-box>div{
    padding: 0 10px;
    margin: 0;
}

/* Aside - Trending and other profiles. */

.trend-box {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trending {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 10px;
    padding: 10px;
}

.trending>div>h3{
    padding: 0;
    margin: 0;
    
}

.trending>div>p{
    margin: 0;
   

}